header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

a {
    text-decoration: none;
    color: #FF5252;
}

ul {
    list-style: none;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #333;
    font-weight: 500;
}

.nav-links img {
    width: 20px;
    height: 20px;
    cursor: pointer;

}



.search-box input {
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #F5F5F5;
}

.search-box {
    display: flex;
    align-items: center;
}

/* Main Section */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px 0;
}

.counter {
    position: relative;
    top: -27px;
    right: -10px;
    background-color: #DB4444;
    color: white;
    font-size: 9px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}