/* general Reset */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F5F5F5;
}

.product-container {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

/* Section: Product Image */
.product-image {
    flex: 1;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.product-image img {
    max-width: 100%;
    border-radius: 10px;
}

/* Aside: Product Details */
.product-details {
    flex: 1;
    padding: 20px;
}

.product-title {
    font-size: 24px;
    margin-bottom: 10px;
}




.price {
    font-size: 22px;
    color: #e63946;
    margin: 10px 0;
}

.description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}



/* Quantity and Buy Button */
.quantity {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.qty-btn-minus,
.qty-btn-plus {
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.qty-value {
   
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    width: 30px;
}

.add-to-chart {
    padding: 10px 20px;
    background-color: #e63946;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
}

.add-to-chart:hover {
    background-color: #d62839;
}

form label {
    font-weight: bold;
}

form input, 
form textarea {
    width: 100%;
    box-sizing: border-box;
}